
a{
    text-decoration:none;
    color:white;
    background: linear-gradient(to left, rgb(114, 114, 250) 50%, lightblue 50%) right;
    background-size: 200%;
    transition: .5s ease-out;

}
a:hover{
    background-position:left

}